<header>
    <h1 id="top">Online Food Ordering System</h1>
    <h1 id="top1" style="font-family:edu;">FoodShop</h1>

    <nav id="navbar">
        <ul id="navcontent">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="contact.php">ContactUs</a></li>
            <li><a href="index.php">Sign Out</a></li>
        </ul>
        
    </nav>
</header>