<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/home.css"/>
    <div id="container1">
        <div id="row1">
            Welcome to Online FoodShop
        </div>

        <button class="btn">ORDER NOW</button>

        <div id="container3">
            <div id="row2">
                <div id="b">
                    <span>
                        Description
                    </span>
                    <button class="btn">Prices</button>
                </div>
            </div>
            <div id="row3">
                <div id="b">
                    <span>
                        Description
                    </span>
                    <button class="btn">Specials</button>
                </div>
            </div>
        </div>

    </div>

    <h1 id="top3">Featured Products</h1>

    <div id="container4">
        <div id="row4" class="d1">
            <div id="b">
                <span>
                    Description
                </span>
                <button class="btn">ORDER NOW</button>
            </div>
            
        </div>
        <div id="row4" class="d2">
            <div id="b">
                <span>
                    Description
                </span>
                <button class="btn">ORDER NOW</button>
            </div>
        </div>
        <div id="row4" class="d3">
            <div id="b">
                <span>
                    Description
                </span>
                <button class="btn">ORDER NOW</button>
            </div>
        </div>
    </div>

<%- include('../partials/footer') %> 

