<link rel="stylesheet" href="/css/registered-page.css"/>
    <div>
        <fieldset id="form">
            <legend id="legend">Success</legend>
            <div style="text-align:center; margin:0 0 40px 0;padding:40px; font-size:36px;">
                You have registered successfully!!!!!!!!
            </div>
            <div>
                <a class="link" href="/" id="hide3">Return to login</a>
            </div>
        </fieldset>
    </div>